.art-tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #462523;
    border-radius: 10px;
    margin: 5px;
}

.art-tool label {
    margin: 5px;
    color: #cb9b51;
}

.art-tool select {
    margin: 10px;
    padding: 5px;
}
