.border {
    position: absolute;
    border: 2px dashed rgb(255 00 00 / 0%);
}

.selected {
    border: 2px dashed rgb(255 00 00 / 100%);
    resize: both;
    overflow: hidden;
}

.draggable {
    cursor: grab;
}

.tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #462523;
    border-radius: 10px;
    margin: 5px;
    padding: 5px 0;
}

.tool label {
    margin: 5px;
    color: #cb9b51;
}

.tool input {
    margin: 10px;
    padding: 5px;
}

.tool select {
    margin: 10px;
    padding: 5px;
}

.tool label[for="image-upload"] {
    background-color: gold;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: #211d1d;
    cursor: pointer;
}

.tool input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.horizontal {
    display: flex;
}

.horizontal div {
    margin: 5px;
    background-color: lightgrey;
    border-radius: 5px;
    cursor: pointer;
}

.vertical {
    display: flex;
}

.vertical div {
    margin: 5px;
    background-color: lightgrey;
    border-radius: 5px;
    height: 32px;
    cursor: pointer;
}
