.draggable {
    cursor: move;
    position: absolute;
    border: 1px solid rgba(0 0 0 / 0%);
}

.border {
    border: 1px solid red;

    /* position: absolute; */

    /* width: 100%; */

    /* height: 100%; */
}

.border .resize {
    border: 1px solid red;
    border-radius: 3px;
    background-color: white;
    width: 10px;
    height: 10px;
    position: absolute;
}

.top-left {
    cursor: nwse-resize;
    top: -5px;
    left: -5px;
}

.top-center {
    cursor: ns-resize;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.top-right {
    cursor: nesw-resize;
    top: -5px;
    right: -5px;
}

.right-center {
    cursor: ew-resize;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.bottom-right {
    cursor: nwse-resize;
    bottom: -5px;
    right: -5px;
}

.bottom-center {
    cursor: ns-resize;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-left {
    cursor: nesw-resize;
    left: -5px;
    bottom: -5px;
}

.left-center {
    cursor: ew-resize;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.tool {
    width: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #373737;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    border: 1px solid;
}

.tool div {
    width: min-content;
    height: min-content;
    margin: 0 3px;
}

.tool label {
    margin: 2px;
    color: #cb9b51;
}

.tool input {
    border-radius: 5px;
    border: none;
    outline: none;
}

.tool input[type="number"] {
    width: 50px;
    padding: 2px;
}

.tool input[type="color"] {
    width: 50px;
}

.tool input[type="text"] {
    width: 220px;
    padding: 5px;
    margin-bottom: 5px;
}

.tool input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.tool div select {
    width: 100px;
    border: none;
    outline: none;
    border-radius: 2px;
}

.tool label[for="bg-opacity"] {
    font-size: 12px;
    color: white;
    margin-left: 5px;
}

.tool label[for="new-art"] {
    margin-right: 5px;
}

.tool label[for="image-upload"] {
    background-color: gold;
    border-radius: 10px;
    display: block;
    margin: 5px auto;
    padding: 2px;
    color: #211d1d;
    cursor: pointer;
    width: 140px;
    text-align: center;
}

.tool .text {
    display: flex;
}

.tool .text div {
    margin: 2px;
    background-color: white;
    border-radius: 2px;
    height: 32px;
    cursor: pointer;
}
