.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(5 5 5 / 70%);
    color: var(--g-color-private-cool-grey-600-solid);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 700px;
    height: 500px;
    background-color: var(--g-color-private-cool-grey-50-solid);
    border-radius: 10px;
    border: 4px outset var(--g-color-private-cool-grey-300-solid);
}

.wrapper span {
    color: var(--yc-button-outline-color);
    text-align: center;
    font-size: 22px;
    width: 100%;
    margin: 20px 0;
}

.alert {
    color: var(--g-color-private-cool-grey-50-solid);
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.red {
    color: var(--yc-color-text-yandex-red);
}

.wrapper img {
    width: 200px;
    height: 143px;
    margin: 10px;
    border: 2px outset var(--g-color-private-cool-grey-300-solid);
}

.wrapper .focus {
    border: 4px outset var(--g-color-private-cool-grey-300-solid);
}
