.tools {
    position: absolute;
    width: 245px;
    min-width: 100px;
    height: 400px;
    left: 0;
    top: 70px;
    background-color: var(--g-color-line-generic-accent);
    border-radius: 15px;
    border: 2px outset var(--g-color-base-neutral-medium);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--yc-button-outline-color);
    margin: 10px;
    padding: 5px;
}
