.tools {
    position: relative;
    min-height: var(--tools-height);
    background-color: var(--g-color-private-cool-grey-150-solid);
    border-radius: var(--g-border-radius-xl);
    border: 1px outset var(--g-color-private-cool-grey-300-solid);
    display: flex;
    align-items: center;
}

.tool {
    margin: 0 3px;
    display: flex;
    justify-content: center;
}

.tool > * {
    margin: 0 2px;
}

.tool label {
    cursor: pointer;
}

.tool input[type="number"] {
    background-color: var(--g-color-private-cool-grey-200);
    color: var(--g-color-text-primary);
    outline: none;
    border: none;
    border-radius: var(--g-border-radius-l);
    height: 28px;
    padding: 0 5px;
}

.x {
    margin: 6px 0;
}

.tool input[type="color"] {
    position: absolute;
    z-index: -1;
}

.tool input[type="file"] {
    position: absolute;
    z-index: -1;
}

.text {
    min-width: 80px;
}

.tool > button,
.select {
    border-radius: 6px;
    background-color: var(--g-color-private-cool-grey-200);
    color: var(--g-color-text-primary);
}
