.text {
    /* box-sizing: content-box; */
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
}

.text p {
    cursor: text;
    position: absolute;
}

.text input {
    z-index: 1;
    cursor: text;
    outline: none;
    width: 95%;
}
