.header {
    height: 70px;
    padding: 15px;
    background-color: var(--g-color-line-generic-accent);
    border: 2px outset var(--g-color-base-neutral-medium);
    border-radius: 15px;
    display: flex;
}

.logo {
    width: 170px;
    height: 35px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 15px;
    text-align: center;
    font-size: var(--yc-text-header-2-font-size);
    color: var(--yc-button-outline-color);
}

.header button {
    margin-left: 20px;
}
